<% action = (user.persisted? ? user_url(user) : users_url) %>
<% method = (user.persisted? ? "patch" : "post") %>
<% submit_text = user.persisted? ? "Update Account": "Create Account" %>

<form action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>">

    <label for="user_username">Username:</label>
    <input type="text" name="user[username]" id="user_username">
    <br>
    <br>

    <label for="user_password">Password:</label>
    <input type="password" name="user[password]" id="user_password">
    <br>
    <br>

    <input type="submit" value="<%= submit_text %>">
</form>